extends layout

block content
  h1= title
  h2 Number one place to keep track of your expenses!
  p Your recorded expenses are:
  div.container
    ul#expenses

  hr
  h2 Input a new component:
  <iframe class="airtable-embed" src="https://airtable.com/embed/shr5zlg6SNaxZjPga?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>