extends layout

block content
  h1= title
  h2 Hello and welcome to our pc build
  p The specs of out gaming pc is: #{title}
  div.container
    ul#expenses

  hr
  h2 Input a new component:
  <iframe class="airtable-embed" src="https://airtable.com/embed/shr5zlg6SNaxZjPga?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
