extends layout

block content
  h1= title
  h2 Hello and welcome to our pc build
  p The specs of out gaming pc is: #{title}
  div.container
    ul#expenses
  hr
  h2 Input a new component:
  p Enter a component part
  form#create
    input(type="text", id="NewComponent", name="NewComponents", placeholder="", onfocus="this.value=''").form-control
    br
    p Enter the specifications of componet
    input(type="text", id="NewSpec", name="NewSpecs", placeholder="", onfocus="this.value=''").form-control
    br
    p Enter the price of the component
    input(type="text", id="NewPrice", name="NewPrices", placeholder="", onfocus="this.value=''").form-control
    br
    br
    button(type="submit", onclick="addData()" value="Submit").btn.btn-danger lägg till