extends layout

block content
  h1= title
  h2 Number one place to keep track of your expenses!
  p Your recorded expenses are:
  div.container
    ul#expenses

  hr
  h2 Input a new component:
  
  hr
  h2 Input a new component:
  p Enter a component part
  input(type="text", id="NewComponent", name="NewComponents", placeholder="", onfocus="this.value=''").form-control
  br
  p Enter the specifications of componet
  input(type="text", id="NewSpec", name="NewSpecs", placeholder="", onfocus="this.value=''").form-control
  br
  p Enter the price of the component
  input(type="text", id="NewPrice", name="NewPrices", placeholder="", onfocus="this.value=''").form-control
  br
  br
  input(type="submit", value="Submit").btn.botton