doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="/javascripts/main.js")
  script(src="/javascripts/add.js")
  script(src="/javascripts/edite.js")
  script(src="/javascripts/remove.js")