doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="UTF-8")
    meta( name="author", content="CSS by O. Harrysson")
    meta( name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header.bannerWrapper
      div.banner
        p.bannerText Trojan64
    block content
    footer
  script(src="/javascripts/main.js")
  script(src="/javascripts/add.js")
  script(src="/javascripts/edite.js")
  script(src="/javascripts/remove.js")